<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile page</title>
  </head>
  <body>
    <h3>Welcome to the profile of <%= person %> </h3>
  </body>
</html>
